<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.i.AndroidDemos">
    ---------------------------------网络----------------------------------

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    ----------允许自定义的Dialog在依赖的Activity退出以后也能加载出来(算法部分里冒泡排序等弹出来的dialog如果在dialog没弹出来以前就按了返回键到主界面，在算法执行完以后也能显示dialog-----------------
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/vector_drawable_demo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.i.AndroidDemos.main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.i.AndroidDemos.callbackdemo.CallBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.i.AndroidDemos.noteandtools.note.ActivityEventDispatch"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.i.AndroidDemos.Interreactcomponent.ActivityComponentIntereact"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.i.AndroidDemos.Interreactcomponent.FragmentToActivity.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".base.BaseActivityWithLL"
            android:screenOrientation="portrait"/>
        ---------------------------------数据结构----------------------------------
        <activity android:name=".datastructure.ActivityDataStructure"
            android:screenOrientation="portrait"/>

        ---------------------------------网络----------------------------------
        <activity android:name="com.example.i.AndroidDemos.network.ActivityNet"
            android:screenOrientation="portrait"/>
        <activity android:name=".network.wallpaper.CategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".network.wallpaper.GalleryActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.example.i.AndroidDemos.network.socketdemo.ServerService"
            android:screenOrientation="portrait"/>
        ---------------------------------工具和笔记----------------------------------
        <activity android:name=".noteandtools.ActivityNoteAndTools"
            android:screenOrientation="portrait"/>
        ---------------------------------自定义View----------------------------------
        <activity android:name=".customizedview.ActivityCustomizedView"
            android:screenOrientation="portrait"/>
        ---------------------------------Android_architecture------------------------
        <activity android:name=".android_architecture.ActivityArchitecture"
            android:screenOrientation="portrait"/>
        <activity android:name=".android_architecture.MVP.MVP_LOGIN.login_success.Activity_LoginSuccess"
            android:screenOrientation="portrait"/>
        ---------------------------------algorithm------------------------
        <activity android:name=".base.ActivityWithWebView"
            android:screenOrientation="portrait"/>
        ---------------------------------open gl----------------------------------
        <activity android:name=".opengl.ActivityOpenGl"
            android:screenOrientation="portrait"/>
        <activity android:name=".observerpatterndemo.ActivityObserverPattern"
            android:screenOrientation="portrait"/>
        <activity android:name=".JAVA_BASE.ActivityJavaBase"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityShowRoundedImage" />
        <activity android:name=".algorithm.TreeViewMethod2.ui.ActivityAlgorithm2" />

    </application>

</manifest>